@import './normalize.scss';
@import './global.scss';
@import './utils.scss';
@import './launcher.scss';

.body-wrapper {
  display: flex;
  min-height: 100%;
  height: auto;
}

.leftbar {
  background-color: #f5f5f5;
  border-right: 1px solid #ade2db;
  color: #444444;
  flex-shrink: 0;
  padding: 40px 0;
  width: 220px;

  .logo {
    color: #222222;
    font-size: 1.7rem;
    margin-bottom: 70px;
    > p {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
    }
  }

  .launch-preconfig {
    font-size: 15px;
    a {
      color: #129e9a;
      cursor: pointer;
      display: inline-block;
      padding: 8px 12px;
      width: 100%;
      &:hover {
        background-color: #dedede;
      }
    }
    p {
      cursor: default;
      border-bottom: 1px solid #adadad;
      padding: 4px 0;
    }
    > div {
      margin-bottom: 32px;
    }
    .list-title {
      padding: 0 12px;
    }
  }
}

.page {
  flex-grow: 1;
  position: relative;
}

.launcher {
  padding: 40px 34px;
}
